@model SellingSolutions.Models.Product

@{
    ViewData["Title"] = "Purchase";
}

<div class="container">
    <h3>Are you sure you want to buy this?</h3>
    <div>
        <h4>@Html.DisplayFor(model => model.Name)</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Image)
            </dt>
            <dd>
                <img id="product-image" alt="@Html.DisplayFor(model => model.Name)" src="@Html.DisplayFor(model => model.Image)" />
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Name)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Name)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Category)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Category)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Price)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Price)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Seller)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Seller)
            </dd>
        </dl>

        <form asp-action="Purchase" method="post">
            <div class="form-group">
                <label asp-for="Quantity" class="control-label"></label>
                <input asp-for="Quantity" class="form-control" />
                <span asp-validation-for="Quantity" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="ID" name="ItemID" />
            <input type="submit" value="Confirm" class="btn btn-default" />
            <a asp-action="Index">Back to List</a>
        </form>
    </div>
</div>